**.DS_Store
.Rhistory
.RData

**.aux
**.fdb_latexmk
**.fls
**.log
**.nav
**.out
**.snm
**.tex~
**.toc
**.bbl
**.blg
**.dvi
**.synctex.gz
**.lof
**.lot

**.dat.gz
data/mlp_1940_1950_v1_2_csv/*csv
ltximg
data/ipums_db.duckdb
.Internment-tabspaces-session.el
.#\*dashboard\*
\#\*dashboard\*#
\*dashboard\*

data/linked_census_sample.csv
data/linked_internee_sample.csv
data/linked_microdata_JA.csv
data/ja_pop_groups.csv
data/JARVIS_PublicUse/Data_CodeLists
data/nhgis0035_shape.zip
data/mlp_sample.csv
data/linked_sample.csv
data/BehindBarbedWire_StoryMap
data/nhgis0038_shape.zip
\#manuscript.org#
WRA-internees.org~

**#
*.html
data/mlp.duckdb
notes/cleaning-functions.org
.vscode
